<h2>Ambulance List</h2>

@if (loading) {
    <div>Loading ambulances...</div>
}
@if (error) {
    <div>{{ error }}</div>
}

@if (ambulances && ambulances.length > 0) {
  <table>
    <thead>
      <tr>
        <th>Registration Number</th>
        <th>Model</th>
        <th>Status</th>
        <th>Specialty</th>
        <th>Phone</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (ambulance of ambulances; track ambulance.id) {
      <tr>
        <td>{{ ambulance.registrationNumber }}</td>
        <td>{{ ambulance.model }}</td>
        <td>{{ ambulance.status }}</td>
        <td>{{ ambulance.specialty }}</td>
        <td>{{ ambulance.phone }}</td>
        <td>
          <button (click)="navigateToDetails(ambulance.id)">Details</button>
          <button (click)="navigateToEditForm(ambulance.id)">Edit</button>
        </td>
      </tr>
      }
    </tbody>
  </table>
}


<button (click)="navigateToCreateForm()">Create new ambulance</button>