/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.example-container {
    display: flex;
    flex-direction: column; /* Display in a column */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.mat-sidenav-container{
    flex: 1;
}

.mat-sidenav-content {
    display: flex; /* To take available space after the toolbar */
    flex-direction: column; /* Stack content vertically */
}

.mat-sidenav{
    width: 200px;
}